/* Loader styles */
.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002323;
}


.loader {
    border-top-width: 8px;
    background-image: linear-gradient(to right, #ff9a9e, #276bc4);
    border-style: solid;
    border-radius: 9999px;
    width: 4rem;
    transition: all 0.3s ease-in-out;
    height: 4rem; /* Equivalent to h-16 */
    animation: spin 1s linear infinite; /* Equivalent to animate-spin */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        background-image: linear-gradient(to right, #3441af, #276bc4); /* Change colors as needed */
    }
    to {
        transform: rotate(360deg);
        background-image: linear-gradient(to right, #c84cd8, #27c4af); /* Change colors as needed */

    }
}
